#exange-button-main{
    width: 35px;
    height: 35px;

    background-color: var(--theme-background-color);
    color: aliceblue;

    border-radius: 50%;
    box-shadow: 0 0 15px var(--theme-font-color);

}