.audit-wraper {
  width: 100vw;
  min-height: 88vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.audit-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 160px 160px;

  gap: 40px;
}

@media screen and (max-width: 650px) {
  .audit-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 100px 100px 100px;

    margin-top: -60px;
  }
}
