.audit-wraper {
  width: 100vw;
  min-height: 88vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.audit-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 160px 160px;

  gap: 40px;
}

.audit-data-container {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
  height: 80%;
}

.audit-data {
  text-align: center;
  min-width: 100px;
  /* background-color: bisque; */
}
.audit-data-name {
  font-size: 1.3rem;
}

.audit-data-amount {
  margin-top: 30px;
  font-size: 1.7rem;
}
