.payment-wraper {
    width: 100vw;
    height: 88.9vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* background-color: brown; */
  }
  

#payment-container{
    width: 600px;
    height: 300px;
    background-color: var(--theme-background-color);

    color: aliceblue;

    display: flex;
    justify-content: space-around;  
    align-items: center;

    position: relative;
    font-size: 1.5rem;

    border-radius: 10px;
}

.error-wraper-payment{
  position: absolute;
  top: 10px;
  left: 50px;
}

.payment-exange-button{
  position: absolute;
  top: 10px;
  right: 10px;
  user-select: none;
}

.payment-submit-button{
  position: absolute;
  bottom: -40px;
  left: 40%;  
}
#payment-container form {
  position: absolute;
  top: 40px;
}

.payment-payer-info {
  width: 550px;
  height: 60px;
  /* background-color: aqua; */

  padding-left: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 60px;
}

.payment-payer-info label {
  margin-right: 50px;
  margin-bottom: 20px;
}

.payment-payer-info select {
  width: 200px;
  height: 30px;

  font-family: var(--theme-default-font);
}

.payment-amount-container{
  /* width: 600px; */
  /* background-color: aqua; */

  display: flex;
  /* justify-content: center; */
  align-items: center;

  margin-left: 50px;
}



.payment-amount-container input {
  width: 200px;
  height: 30px;

  padding-left: 10px;

  font-family: var(--theme-default-font);

  margin-left: 40px;

}

@media screen and (max-width: 650px){
  #payment-container{
    width: 330px;
    height: 350px;

    margin-bottom: 50px;
  }

  .payment-payer-info{
    flex-direction: column;
    height: 100px;
  }
   
  .payment-exange-button{
    right: 10px;
    top: 10px;
  }

  #payment-container form {
    top: 50%;
    transform: translateY(-60%);
  }


  .payment-amount-container label{
    margin-left: 150px;
    margin-right: 35px;
  }

  .from-payment-input-to{
    margin-left: 20px;
  }

}

@media screen and (max-width: 390px){
  #payment-container{
    width: 300px;
    height: 350px;

    margin-top: -40px;
  }

  .payment-submit-button{
    left: 43%;
  }

  .payment-amount-container label{
    margin-left: 170px;
  }

  .payment-amount-container input{
    width: 160px;
  }

}